<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
    Get help on the Google at the
    <a href="https://support.google.com/">Google Help page</a>.
    To get help on this sample app, see the
    <a href="https://support.google.com/"><em>Google Tutorial</em>
    book</a>.
    </p>
  </body>
</html>

